*.txt.*
*.h5
*.hdf5
*.zip
*.tar.gz
*.npy
*.txt
*.pdf
*.jpg
*.jpeg
*.png
*.npz
__pycache__/
.DS_STORE

### JupyterNotebooks ###

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

wandb/

# pytorch models
*.pt
*.pth
